*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/encodings.xml
app/app-release.apk
app/debug/output.json
app/release/output.json
app/release/app-release.apk
app/debug/app-debug.apk
